{% block about %}
    <h2>A propos</h2>
    <article>
        <p>
        Hello !<br>
        Passionné par le web et la technologie depuis des années,<br>
        c'est en toutes logique que j'ai débuter un parcours de reconversion professionnelle.<br>
        J'ai réalisé ce site afin de pouvoir présenter mes réalisations et avoir un "chez moi numérique" ou je partagerai mes découvertes au travers d'un blog.
        </p>
    </article>
{% endblock %}



