{% block about %}
<h2>Mes réalisations</h2>
    <article class="blog fade from-top">
        <a href="https://ancelin-sebastien-folio.fr/"><img src="{{ asset("img/realisation-blog.png") }}" alt="" class="fade from-left"></a>
    </article>

    <article class="folio-photographer fade from-top">
        <a href="#"><img src="{{ asset("img/realisation-portfolio.png") }}" alt="" class="fade from-left"></a>
    </article>
{% endblock %}
