{% block folio %}
    <h2>Mes réalisations</h2>
    <article class="blog fade from-top">
        <a href="https://newspaper.ancelin-sebastien-folio.fr/"><img src="{{ asset("img/realisation-blog.png") }}" alt="" class="fade from-left"></a>
        <p class="text-blog">Blog crée en PHP utilisant le framework Laravel</p>
    </article>

    <article class="folio-photographer fade from-top">
        <a href="https://photographer.ancelin-sebastien-folio.fr/"><img src="{{ asset("img/realisation-portfolio.png") }}" alt="" class="fade from-left"></a>
         <p class="text-blog">Template de portfolio pour photographe réalisé avec VueJS</p>
    </article>
{% endblock %}