<header>
    <nav class="main-nav">
        <ul>
            <li><a href="">A propos</a></li>
            <li><a href="#realisations">Portfolio</a></li>
        </ul>
    </nav>
    <div class="burger" id="burger">
        <span></span>
    </div>
</header>

<div class="main-title">
    <h1>Sébastien Ancelin</h1>  
    <span>Développeur web</span>
        <svg height="80" width="420">
            <g fill="none">
                <path stroke="white" d="M5 40 l515 0" />
            </g>
        </svg>
        <img src="{{ asset("img/sebastien.png") }}" alt="" class="myself">
</div>
	<div class="banner">
		<div class="typed_wrap">
			<span class="typed"></span>
			<span class="typed1"></span>
			<span class="typed2"></span>
		</div>
	</div>
   <a href="#realisations"><img src="{{ asset("img/arrow.png") }}" alt="Fléche vers le bas" class="arrow fade-in"></a>




