<h1>Nouveau message depuis le portfolio</h1>

<h2>Expéditeur</h2>

<ul>
    <li>
        Nom : {{ name }}
    </li>
    <li>
        Email : {{ mail }}
    </li>
    <li>
        Sujet : {{ subject }}
    </li>
    <li>
        Message : {{ message }}
    </li>
</ul>